.landing {
  width: 100%;
  color: white;
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-top: 5%;
}

.landing img {
  max-width: calc(65px + 5vw)
}

.landing h1 {
  margin-block: 3%;
  margin-inline: 5%;
}

.landing ul {
  padding-inline: 0;
  list-style-type: none;
}

.landing li {
  letter-spacing: 0.112rem;
  line-height: 2;
  font-size: calc(1rem + 1.5vw);
}

.landing a {
  text-decoration: none;
  color: white;
}

.landing a:hover {
  font-size: 1.2em;
}

.landing a:active {
  color: darkslategrey;
}
