.landing {
  color: white;
  text-align: center;
  padding-top: 12%;
}

.landing img {
  max-width: calc(65px + 5vw)
}

.landing h1 {
  margin-block: 2%;
  margin-inline: 5%;
}

.landing h2 {
  margin-block: 1%;
}

.landing ul {
  padding-inline: 0;
  list-style-type: none;
}

.landing li {
  letter-spacing: 0.1em;
  line-height: 2;
  font-size: calc(1rem + 1.5vw);
}

.landing a {
  text-decoration: none;
  color: white;
}

.landing a:hover {
  font-size: 1.2em;
}

.landing a:active {
  color: darkslategrey;
}

/* Wide Screen */

@media screen and (min-width: 768px) {
  .landing {
    padding-top: 4%
  }
}
