/* General Styles */

html {
  background-color: rgb(66, 146, 238);
  font-family: Helvetica;
  font-size: 10px;
}

body {
  font-size: 1.6rem;
}

header {
  font-size: calc(1rem + 0.9vw);
  padding-inline: 3%;
}

h1 {
  font-size: calc(1rem + 7vw);
  text-align: center;
  color: white;
  font-style: italic;
  text-transform: uppercase;
  text-shadow: 4px 4px 4px black;
  letter-spacing: 0.04em;
  margin-inline: 5%;
}

h2 {
  font-size: calc(1rem + 1.8vw);
  letter-spacing: 0.12rem;
  margin-inline: 5%;
}

p {
  font-size: calc(1rem + 1.5vw);
  letter-spacing: 1.3px;
  margin-inline: 5%;
}

input,
label,
button {
  font-size: calc(1rem + 1vw);
}
