.positioning header,
.box {
  background: rgb(222, 255, 44);
}

.positioning header {
  z-index: 1;
  position: fixed;
  min-height: 1.5em;
  width: 100vw;
  top: 0;
  line-height: 1.5em;
  text-align: center;
  font-weight: 500;
}

.positioning > .panel {
  height: 80vh;
  border-bottom: 1.5em solid rgb(222, 255, 44);
  font-size: calc(1rem + 0.9vw);
}

.positioning h1 {
  padding-block: 10% 10%;
  margin-block: 0;
}

.box {
  height: calc(12rem + 15vh);
  width: calc(12rem + 8vw);
  font-size: calc(1.3rem + 0.8vw);
}

.box ul {
  padding-inline: 0;
  list-style-position: inside;
}

.two .box {
  position: relative;
  top: 5em;
  left: 10em;
}

.three {
  position: relative;
}

.three .box {
  position: absolute;
}

.three .box:first-child {
  top: 1em;
  left: 1em;
}

.three .box:nth-child(2) {
  bottom: 1em;
  left: 1em;
}

.three .box:nth-child(3) {
  right: 1em;
  top: 1em;
}

.positioning p {
  font-size: revert;
}

@media screen and (min-width: 768px) {
  .positioning h1 {
    padding-block: 8% 3%;
    margin-block: 0;
  }
}

@media screen and (max-width: 378px) {
  .positioning h1 {
    padding-block: 18% 15%;
    margin-block: 0;
  }
}
